__pycache__/*
classification/__pycache__/*
classification/models/*
classification/onnxConversion/models
object_detection/Yolov3/onnxConversion/models/*
object_detection/Yolov3/onnxConversion/utils/__pycache__/*

